<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46ae4f62-0fca-46a7-aac7-9c0e2b6f1d85" Publisher="CN=AgileMedicine" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BrainGraph</DisplayName>
    <PublisherDisplayName>AgileMedicine</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BrainGraph.WinStore.App">
      <VisualElements DisplayName="BrainGraph" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="An application to support the study of the connectivity of the brain.  It uses graph theory to describe group differences seen in populations." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" WideLogo="Assets\WideLogo.png" ShortName="BrainGraph" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="braingraphdatafiles">
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>